:root {
  --primary-color: rgb(0, 0, 0);
  --sec-color: rgb(255, 252, 223);
  --accent-color: rgb(43, 255, 209);
  --box-shadow: 5px 6px 8px rgb(25, 25, 25);
}

body {
  background: rgb(255, 165, 29);
}

.section {
  background-color: rgb(255, 165, 29);
}

.butterfly {
  display: block;
  margin: 0 auto;
}

h1,
h3 {
  text-align: center;
  color: rgb(255, 255, 255);

}

h3 {
  font-weight: 900;
  font-size: 50px;
  color: white;
  margin-top: 50px;
}

h1 {
  font-size: 80px;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  margin-bottom: 50px;
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px !important;
    padding-right: 60px !important;
    padding-left: 60px;
  }
}

.link:hover {
  color: rgb(213, 213, 213);
}

#code {
  font-size: 20px;
}

#code:hover {
  color: rgb(191, 191, 191);
}
.bio {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

@media (max-width: 600px) {
  h2 {
    font-size: 20px !important;
  }
}

#contacts {
  text-align: center;
  font-size: 30px;
  color: aliceblue;
  font-family: "Comfortaa", cursive;
  margin: 20px 0;
}
.about-content {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

#mail-to {
  display: block;
  text-align: center;
  margin: 0 0 50px 0;
  color: var(--gold);
  font-family: "Work Sans", cursive;
}

.return-home:hover {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}

#mail-to:hover {
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: rgb(125, 116, 125);

}

.contact-us {
  padding: 12px 16px;
  font-family: "Work Sans", cursive;
  font-weight: 300px;
  background-color: rgb(174, 255, 133);
  color: var(--primary-color);
  transform: scale(1.05);
}

.contact-us:hover {
  background: var(--sec-color);
  color: var(--primary-color);
  transform: scale(1.05);
  transition: 1s ease-in-out;
}

.about-me {
  border: 2px solid var(--accent-color);
  font-family: "Work Sans", cursive;
  font-weight: 300px;
  transition: all 200ms ease-in-out;
  background: var(--sec-color);
  padding: 10px 20px;
  color: var(--primary-color);
}

.about-me:hover {
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow);
  transform: scale(1.05);
  color: var(--sec-color);
}

.nav-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.nav-links a {
  margin: 20px;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
}

p {
  color: rgb(255, 255, 255);
  font-family: "Jost", sans-serif;
  padding: 40px;
}

.text-start {
  font-family: "Work Sans", serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center !important;
  border-radius: 8px;
}

.button-73 {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Work Sans", cursive;
  font-size: small !important;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0 0 10px 0;
  outline: none;
  padding: 6px 10px !important;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: rgb(156, 144, 12);
  box-shadow: #4c2121 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.glitch {
  display: block;
  margin: 0 auto;
  padding: none;
}

.link {
        text-decoration: none;
        margin: 0 20px; 
        color: rgb(255, 255, 255);
      }
nav {
  padding: 20px;
  background-color: rgb(170, 252, 255);
}
nav ul {
  padding: 0;
  margin: 0;
  color: white;/
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
}

.active {
  color: rgb(255, 233, 66) !important;
  font-family: "Work Sans", cursive;
}

.nav-link {
  color: rgb(245, 255, 152);
  font-family: "Work Sans", cursive;
}

.nav-link:hover {
  color: rgb(255, 162, 162);
  font-size: 30px;
}

.block-one {
  background-color: rgb(98, 255, 0);
  padding: none !important;
}

.block-two {
  background-color: rgb(0, 0, 0);
  padding: none !important;
}

.section-five {

  background-color: rgb(255, 70, 70);
  padding: 50px;
  color: rgb(196, 196, 255);
  font-family: "Comfortaa", cursive;
  font-size: 40px;
}

.section-one {
  background: rgb(189, 255, 97);
}

.web-heading {
  font-family: "VT323", monospace;
  font-size: 200px;
}
