:root {
  --primary-color: rgb(0, 0, 0);
  --sec-color: rgb(255, 252, 223);
  --accent-color: rgb(43, 255, 209);
  --box-shadow: 5px 6px 8px rgb(25, 25, 25);
  --gold: rgb(255, 111, 0);
}

body {
  background: var(--accent-color);
}

.section {
  background-color: rgb(43, 255, 209);
  padding: 50px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.butterfly {
  display: block;
  margin: 0 auto;
}

.sparkles {
  display: inline;
  margin: 0 auto;
}
h1,
h3 {
  text-align: center;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 80px;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  margin-bottom: 50px;
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px !important;
    padding-right: 60px !important;
    padding-left: 60px;
  }
}

.bio {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

@media (max-width: 600px) {
  h2 {
    font-size: 20px !important;
  }
}
.container {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: center;
}

.robot {
  max-width: 1000px;
}
.col-3 {
  display: inline;
}
#contacts {
  text-align: center;
  font-size: 30px;
  color: aliceblue;
  font-family: "Comfortaa", cursive;
  margin: 20px 0;
}
.about-content {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

#mail-to {
  display: block;
  text-align: center;
  margin: 0 0 50px 0;
  color: var(--gold);
  font-family: "Work Sans", cursive;
}

.return-home:hover {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}

#mail-to:hover {
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: rgb(125, 116, 125);
}

.contact-us {
  padding: 12px 16px;
  font-family: "Work Sans", cursive;
  font-weight: 300px;
  background-color: var(--gold);
  color: var(--sec-color);
  transform: scale(1.05);
}

.contact-us:hover {
  background: var(--sec-color);
  color: var(--primary-color);
  transform: scale(1.05);
  transition: 1s ease-in-out;
}

.about-me {
  border: 2px solid var(--accent-color);
  font-family: "Work Sans", cursive;
  font-weight: 300px;
  transition: all 200ms ease-in-out;
  background: var(--sec-color);
  padding: 10px 20px;
  color: var(--primary-color);
}

.about-me:hover {
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow);
  transform: scale(1.05);
  color: var(--sec-color);
}

.nav-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.nav-links a {
  margin: 20px;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
}

p {
  color: rgb(0, 0, 0);
  font-family: "Jost", sans-serif;
}
hr {
  border: 1px solid rgb(168, 168, 168);
}

.text-start {
  font-family: "Work Sans", serif;
  font-size: 40px;
  font-weight: 600;
  color: black;
  text-align: center !important;
  border-radius: 8px;
}

.button-73 {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Work Sans", cursive;
  font-size: small !important;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0 0 10px 0;
  outline: none;
  padding: 6px 10px !important;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: var(--gold);
  box-shadow: #461010 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.glitch {
  display: block;
  margin: 0 auto;
  padding: none;
}

#about-section-font {
  font-size: 60px;
  font-weight: 400;
}

.navbar {
  background-color: var(--accent-color) !important;
}

.active {
  color: white !important;
  font-family: "Work Sans", cursive;
}

.nav-link {
  color: rgb(245, 255, 152);
  font-family: "Work Sans", cursive;
}

.nav-link:hover {
  color: rgb(255, 162, 162);
  font-size: 30px;
}

.block-one {
  background-color: rgb(255, 230, 0);
  padding: 40px;
}

.block-two {
  background-color: rgb(255, 255, 255);
}

.block-three {
  background-color: rgb(255, 255, 255);
}

.block-four {
  background-color: rgb(255, 86, 63);
  padding: 40px;
}
.block-five {
  background-color: rgb(153, 255, 0);
  padding: 40px;
}

.block-six {
  background-color: white;
  padding: 40px;
}
.section-five {
  background-color: var(--accent-color);
  padding: 50px;
  color: rgb(124, 124, 255);
  font-family: "Comfortaa", cursive;
  font-size: 40px;
}

.section-one {
  background: rgb(189, 255, 97);
}

.web-heading {
  font-family: "VT323", monospace;
  font-size: 200px;
}

.dark {
  background-image: radial-gradient(
    circle,
    #000000,
    #3d111c,
    #770e27,
    #b20428,
    #eb121a
  );
}

